@model Alert

<div class="col-lg-12" style="margin:5px;">
    <div style="    background: rgb(255, 0, 0);
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    " class="aer">
        <a asp-controller="RPABase" asp-action="AlertDetail" asp-route-ID="@Model.id">
            @{
                if (Model.Blink)
                {
                    <div id="blink7">
                        <h1>@Model.TAG</h1>
                        <h2>
                            Как решить: @Model.DOLIST
                        </h2>
                        <p>
                            Процес: @Model.PROCES
                            Время события: @Model.EVENT_TIME
                            Ошибка: @Model.ERROR_MSG
                        </p>
                    </div>
                }
                else
                {
                    <div id="noblink7">
                        <h1>@Model.TAG</h1>
                        <h2>
                            Как решить: @Model.DOLIST
                        </h2>
                        <p>
                            Процес: @Model.PROCES
                            Время события: @Model.EVENT_TIME
                            Ошибка: @Model.ERROR_MSG
                        </p>
                    </div>
                }
            }
        </a>
    </div>
</div>