@using VALHALLA.Data.Models;
@model HR_REPORT_CHATBOT_MAIN
@using YORMUNGAND.Data.Models.SUPPORT;
<tr class="jsTableRow">
    <td class="slimrow" title="@Model.id"><div class="row_oneItem-medium">@Model.id</div></td>
    <td class="slimrow" title="@Model.UD_EMPLOYEE_N"><div class="row_oneItem-medium">@Model.UD_EMPLOYEE_N</div></td>
    <td class="slimrow" title="@Model.UD_FULL_NAME"><div class="row_oneItem-medium">@Model.UD_FULL_NAME</div></td>
    <td class="slimrow" title="@Model.PROCESSING_STATUS"><div class="row_oneItem-medium">@Model.PROCESSING_STATUS</div></td>
    <td class="slimrow" title="@Model.FINISH_DATE"><div class="row_oneItem-medium">@Model.FINISH_DATE</div></td>
    <td class="slimrow" title="@Model.HR_DOMAIN_NAME"><div class="row_oneItem-medium">@Model.HR_DOMAIN_NAME</div></td>
</tr>
