@model IEnumerable<AccessUsers>

<div class="row">
        <div class="col-md-4 mt-3 mb-0">
            <table>
                <thead>
                </thead>
            </table>
        </div>
        <table data-toggle="table"
               id="table"
               data-search="true"
               data-search-highlight="true"
               data-show-columns="true"
               data-detail-filter="detailFilter"
               data-detail-formatter="DetailFormatterPerm"
               data-show-toggle="true"
               data-buttons-align="right"
               data-cookie="true"
               data-cookie-id-table="saveIdusers"
               data-detail-view="true"
               data-detail-view-by-click="true"
               data-virtual-scroll="true"
               data-detail-view-icon="true">
            <thead>
                <tr class="tr-class-1">
                    <th data-field="id" data-detail-formatter="DetailFormatterPerm"><div class="row_oneItem-small">id</div></th>
                    <th data-field="USER" data-detail-formatter="DetailFormatterPerm"><div class="row_oneItem-small">Пользователь</div></th>
                    <th data-field="NAME" data-detail-formatter="DetailFormatterPerm"><div class="row_oneItem-small">Имя</div></th>
                    <th data-field="MAIL" data-detail-formatter="DetailFormatterPerm"><div class="row_oneItem-small">Почта</div></th>
                    <th data-field="DATELASTSEEN" data-detail-formatter="DetailFormatterPerm"><div class="row_oneItem-small">Последний визит</div></th>
                    <th data-field="DATEREG" data-detail-formatter="DetailFormatterPerm"><div class="row_oneItem-small">Дата регистрации</div></th>
                    <th data-field="EDITUSER" data-visible="false" data-detail-formatter="DetailFormatterPerm" data-switchable="false"><div class="row_oneItem-NoWay"> </div></th>
                </tr>
            </thead>
            <tbody class="tb-class-1">
                @{
                    foreach (AccessUsers id in Model)
                    {
                        <tr>
                            <td class="slimrow" title="@id.id"><div class="row_oneItem-medium">@id.id</div></td>
                            <td class="slimrow" title="@id.USER"><div class="row_oneItem-medium">@id.USER</div></td>
                            <td class="slimrow" title="@id.NAME"><div class="row_oneItem-medium">@id.NAME</div></td>
                            <td class="slimrow" title="@id.MAIL"><div class="row_oneItem-medium">@id.MAIL</div></td>
                            <td class="slimrow" title="@id.DATE_LAST_SEEN"><div class="row_oneItem-medium">@id.DATE_LAST_SEEN</div></td>
                            <td class="slimrow" title="@id.DATE_REG"><div class="row_oneItem-medium">@id.DATE_REG</div></td>
                            <td class="slimrow" title="Редактировать роли"><div><a class="btn btn-warning" asp-controller="CESSBase" asp-action="AddRoleToUserCess" asp-route-user="@id.USER">Управление ролями для пользователя</a></div></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    <script>
        $(function () {
            $('#table').bootstrapTable('hideColumn', 'EDITUSER');
            $('#table').bootstrapTable();
        })
    </script>
    <script>
        //выводить детальное описание только для строк начиная с 1
        function detailFilter(index) {
            return index > -1
        }
    </script>

    <script>
        //вывод детального описания
        function DetailFormatterPerm(index, row) {
            var item = document.querySelector('.fixed-table-body');
            item.onscroll = (e) => {
                $('.fake-scroll').css('width', e.target.scrollLeft + 250 + 'px');
                //var elementFakeScroll = document.querySelector('.fake-scroll');
                //elementFakeScroll.style.width = e.target.scrollLeft + 250 + 'px';
                //console.log(e.target.scrollLeft);
            }
            var newDiv = document.createElement("table");
            //newDiv.style.display = "inline-block";
            var html = new Map();
            $.each(row, function (key, value) {
                if (key.substr(key.length - 6) == '_title') {
                    html.set(key.substr(1, key.length - 7), value);
                }
            });
            newDiv.innerHTML = "<table><tbody><tr><td><div class='fake-scroll' style='height:1px; width:" + (item.scrollLeft + 250) + "px;'></div></td><td><div><table><tbody>";
            newDiv.innerHTML = newDiv.innerHTML + "<tr><td></td><td><h3>Управление</h3></td><td>" + row.EDITUSER + "</td ></tr>"
            newDiv.innerHTML = newDiv.innerHTML + "<tr><td></td><td><h5>Пользователь</h5></td><td>" + ((html.has('USER')) ? html.get('USER') : '-') + "</td></tr>";
            newDiv.innerHTML = newDiv.innerHTML + "<tr><td></td><td><h5>Имя</h5></td><td>" + ((html.has('NAME')) ? html.get('NAME') : '-') + "</td></tr>";
            newDiv.innerHTML = newDiv.innerHTML + "<tr><td></td><td><h5>Почта</h5></td><td>" + ((html.has('MAIL')) ? html.get('MAIL') : '-') + "</td></tr>";
            newDiv.innerHTML = newDiv.innerHTML + "<tr><td></td><td><h5>Последний визит</h5></td><td>" + ((html.has('DATELASTSEEN')) ? html.get('DATELASTSEEN') : '-') + "</td></tr>";
            newDiv.innerHTML = newDiv.innerHTML + "<tr><td></td><td><h5>Регистрация</h5></td><td>" + ((html.has('DATEREG')) ? html.get('DATEREG') : '-') + "</td></tr>";
            newDiv.innerHTML = newDiv.innerHTML + "<tbody></table></div></td></tr><tbody></table>";
            return newDiv;
        }
    </script>

</div>
