@model QueueItemID

<div class="col-lg-12 list_dataitem">
    <a asp-controller="DetailItem" asp-action="ShowDetail" asp-route-QID="@Model.QID">
        <div class="list_dataitem-all list_dataitem-finished">
            <p>
                ID: @Model.QID   Филиал: @Model.FILIAL   Регион: @Model.REGION
            </p>
            <p>
                KEY: @Model.KEY
                Test: @Model.CESS76INT.STATUS
            </p>
        </div>
    </a>
</div>