@model MainReportWave1
<td>@Model.id</td>
<td>@Model.NRI_LINK</td>
<td>@Model.ZM_LOT</td>
<td>@Model.REGION</td>
<td>@Model.FILIAL</td>
<td>@Model.NRI_BS_N</td>
<td>@Model.NRI_BS_NAME</td>
<td>@Model.DS_N</td>
<td>@Model.PROVIDER</td>
<td>@Model.VIR_DOC_TYPE</td>
<td>@Model.VIR_DOP</td>
<td>@Model.VIR_DOP_N</td>
<td>@Model.VIR_DATE</td>
<td>@Model.VIR_SUMM_WO_NDS</td>
<td>@Model.VIR_PAY_CONDITIONS</td>
<td>@Model.INITIATOR_FIO</td>
<td>@Model.RESPONSIBLE_FIO</td>
<td>@Model.STAGE</td>
<td>@Model.PR_N</td>
<td>@Model.PR_STATUS</td>
<td>@Model.PR_COM</td>
<td>@Model.SEVD</td>
<td>@Model.SEVD_N</td>
<td>@Model.ECM_LINK</td>
<td>@Model.DS_DATE</td>
<td style="        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        display: block;"
    title="@Model.GFK">@Model.GFK</td>
<td>@Model.VIR_START_WORK</td>
<td>@Model.VIR_END_WORK</td>
<td>@Model.VIR_INTEGRATION_DATE</td>
<td>@Model.DIADOK_UPLOAD_DATE</td>
<td>@Model.DIADOK_SIGN_DATE</td>
<td>@Model.IMS_LINK</td>
<td>@Model.DIADOK_ID</td>
<td>@Model.DIADOK_LINK</td>
<td>@Model.NRI_CODE_PROJECT</td>
<td>@Model.CONTRACT_N</td>
<td>@Model.DOG_N</td>
<td>@Model.DOG_DATE</td>
<td>@Model.INITIATOR_MAIL</td>
<td>@Model.PROVIDER_INN</td>
<td style="        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        display: block;"
    title="@Model.ERROR1">@Model.ERROR1</td>
<td style="        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        display: block;"
    title="@Model.ERROR2">@Model.ERROR2</td>
<td style="        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        display: block;"
    title="@Model.TECH_ERROR">@Model.TECH_ERROR</td>
<td>@Model.STATUS</td>
<td>@Model.PROCESSING</td>
<td>@Model.GEO</td>
<td>@Model.ZP_N</td>
<td>@Model.ZP_STATUS</td>
<td>@Model.BD_COM</td>
<td>@Model.PR_FILE</td>
<td>@Model.VIR_COM</td>
<td>@Model.DOUBLE</td>
<td>@Model.VIR_DIAP</td>
<td>@Model.PROSTAVLENIE</td>
<td>@Model.ECM_FILL</td>

