<div class="col-md-12 mt-5 mb-0">
    <div class="mt-3 align-items-center">
    @*<a class="btn btn-warning" asp-controller="CessReport" asp-action="Detail1stWave" asp-route-ID="@Model.id">Отменить обработку роботом</a>*@
</div>
    <table border="1">
        <thead>
            <tr>
                <td>Поле</td>
                <td>Значение</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NRI_ссылка</td>
                <td>@Model.NRI_LINK</td>
            </tr>
            <tr>
                <td>ЗМ_с_лотом</td>
                <td>@Model.ZM_LOT</td>
            </tr>
            <tr>
                <td>Регион</td>
                <td>@Model.REGION</td>
            </tr>
            <tr>
                <td>Филиал</td>
                <td>@Model.FILIAL</td>
            </tr>
            <tr>
                <td>NRI_БС_Номер</td>
                <td>@Model.NRI_BS_N</td>
            </tr>
            <tr>
                <td>NRI_БС_Наименование</td>
                <td>@Model.NRI_BS_NAME</td>
            </tr>
            <tr>
                <td>ДС_Номер</td>
                <td>@Model.DS_N</td>
            </tr>
            <tr>
                <td>Поставщик</td>
                <td>@Model.PROVIDER</td>
            </tr>
            <tr>
                <td>ВИР_Тип_документа</td>
                <td>@Model.VIR_DOC_TYPE</td>
            </tr>
            <tr>
                <td>ВИР_Дополнение</td>
                <td>@Model.VIR_DOP</td>
            </tr>
            <tr>
                <td>ВИР_Дополнение_номер</td>
                <td>@Model.VIR_DOP_N</td>
            </tr>
            <tr>
                <td>ВИР_дата</td>
                <td>@Model.VIR_DATE</td>
            </tr>
            <tr>
                <td>ВИР_Сумма_без_НДС</td>
                <td>@Model.VIR_SUMM_WO_NDS</td>
            </tr>
            <tr>
                <td>ВИР_Условия_платежа</td>
                <td>@Model.VIR_PAY_CONDITIONS</td>
            </tr>
            <tr>
                <td>Инициатор_ФИО</td>
                <td>@Model.INITIATOR_FIO</td>
            </tr>
            <tr>
                <td>Ответственный_ФИО</td>
                <td>@Model.RESPONSIBLE_FIO</td>
            </tr>
            <tr>
                <td>Этап</td>
                <td>@Model.STAGE</td>
            </tr>
            <tr>
                <td>PR_Номер</td>
                <td>@Model.PR_N</td>
            </tr>
            <tr>
                <td>PR_статус</td>
                <td>@Model.PR_STATUS</td>
            </tr>
            <tr>
                <td>PR_Комментарий</td>
                <td>@Model.PR_COM</td>
            </tr>
            <tr>
                <td>СЭВД</td>
                <td>@Model.SEVD</td>
            </tr>
            <tr>
                <td>СЭВД_Номер</td>
                <td>@Model.SEVD_N</td>
            </tr>
            <tr>
                <td>ЕСМ_ссылка</td>
                <td>@Model.ECM_LINK</td>
            </tr>
            <tr>
                <td>ДС_Дата</td>
                <td>@Model.DS_DATE</td>
            </tr>
            <tr>
                <td>ГФК</td>
                <td>@Model.GFK</td>
            </tr>
            <tr>
                <td>ВИР_Начало_работ</td>
                <td>@Model.VIR_START_WORK</td>
            </tr>
            <tr>
                <td>ВИР_Завершение_работ</td>
                <td>@Model.VIR_END_WORK</td>
            </tr>
            <tr>
                <td>ВИР_Дата_интеграции</td>
                <td>@Model.VIR_INTEGRATION_DATE</td>
            </tr>
            <tr>
                <td>Диадок_Дата_загрузки</td>
                <td>@Model.DIADOK_UPLOAD_DATE</td>
            </tr>
            <tr>
                <td>Диадок_Дата_подписания</td>
                <td>@Model.DIADOK_SIGN_DATE</td>
            </tr>
            <tr>
                <td>IMS_ссылка</td>
                <td>@Model.IMS_LINK</td>
            </tr>
            <tr>
                <td>Диадок_ID</td>
                <td>@Model.DIADOK_ID</td>
            </tr>
            <tr>
                <td>Диадок_ссылка</td>
                <td>@Model.DIADOK_LINK</td>
            </tr>
            <tr>
                <td>NRI_Код_проекта</td>
                <td>@Model.NRI_CODE_PROJECT</td>
            </tr>
            <tr>
                <td>Контракт_номер</td>
                <td>@Model.CONTRACT_N</td>
            </tr>
            <tr>
                <td>Договор_номер</td>
                <td>@Model.DOG_N</td>
            </tr>
            <tr>
                <td>Договор_дата</td>
                <td>@Model.DOG_DATE</td>
            </tr>
            <tr>
                <td>Инициатор_почта</td>
                <td>@Model.INITIATOR_MAIL</td>
            </tr>
            <tr>
                <td>Поставщик_ИНН</td>
                <td>@Model.PROVIDER_INN</td>
            </tr>
            <tr>
                <td>Ошибка1</td>
                <td>@Model.ERROR1</td>
            </tr>
            <tr>
                <td>Ошибка2</td>
                <td>@Model.ERROR2</td>
            </tr>
            <tr>
                <td>Тех_Ошибка</td>
                <td>@Model.TECH_ERROR</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>@Model.STATUS</td>
            </tr>
            <tr>
                <td>Обработка</td>
                <td>@Model.PROCESSING</td>
            </tr>
            <tr>
                <td>География</td>
                <td>@Model.GEO</td>
            </tr>
            <tr>
                <td>ЗП_Номер</td>
                <td>@Model.ZP_N</td>
            </tr>
            <tr>
                <td>ЗП_Статус</td>
                <td>@Model.ZP_STATUS</td>
            </tr>
            <tr>
                <td>БД_комментарий</td>
                <td>@Model.BD_COM</td>
            </tr>
            <tr>
                <td>PR_файл</td>
                <td>@Model.PR_FILE</td>
            </tr>
            <tr>
                <td>ВИР_комментарий</td>
                <td>@Model.VIR_COM</td>
            </tr>
            <tr>
                <td>Дубль</td>
                <td>@Model.DOUBLE</td>
            </tr>
            <tr>
                <td>ВИР_Диапазоны</td>
                <td>@Model.VIR_DIAP</td>
            </tr>
            <tr>
                <td>Проставление</td>
                <td>@Model.PROSTAVLENIE</td>
            </tr>
            <tr>
                <td>Дозаполнение_ЕСМ</td>
                <td>@Model.ECM_FILL</td>
            </tr>


        </tbody>
    </table>
</div>
