@model TestModel

<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>
<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>
<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>
<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>

<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>
<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>
<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>
<th scope="row">1</th>
<td>@Model.Test1</td>
<td>@Model.Test2</td>
<td>@Model.Test3</td>